table.predictions {
    border-spacing: 2em 0.5em;
    //border-collapse: collapse;
}

.prediction_class_diff_0 {
    background-color: greenyellow;
}

.prediction_class_diff_1 {
    background-color: yellow;
}

.prediction_class_diff_2 {
    background-color: red;
}

li.performance_measurement {
    list-style: none;
}

th {
    text-align: left;
}

