{% extends "layout.html" %}
{% block title %}
    <title>{{ _("ZooPredict!") }}</title>
{% endblock title %}

{% block body %}
    <h1>{{ _("Predicted visitor numbers for Helsinki Zoo") }}</h1>

    {% if error %}
    <div class="errors">
        <p class="error">{{ _(error) }}</p>
    </div>
    {% endif %}

    <div>
        <h2>{{ _('Performance measurements') }}</h2>
        <ul id="performance_measurements" class="performance_measurements">
            <li class="performance_measurement">
                {{ _('Mean squared error') }}: {{ mean_squared_error | round | int }}
            </li>
            <li class="performance_measurement">
                {{ _('Mean absolute error') }}: {{ mean_absolute_error | round | int }}
            </li>
            <li class="performance_measurement">
                {{ _('Median absolute error') }}: {{ median_absolute_error | round | int }}
            </li>
            <li class="performance_measurement">
                {{ _('Classification accuracy') }}: {{ accuracy | round(2) }}
            </li>
        </ul>
    </div>

    <div>
        <h2>{{ _('Predictions') ~ " (latest " ~ predictions|length ~ ")" }}</h2>
        <table id="predictions" class="predictions">
            <colgroup span="1"></colgroup>
            <colgroup span="3"></colgroup>
            <colgroup span="3"></colgroup>
            <thead>
                <tr>
                    <th scope="colgroup"></th>
                    <th scope="colgroup">{{ _('Visitors') }}</th>
                    <th></th>
                    <th></th>
                    <th scope="colgroup">{{ _('Visitor class') }}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Predicted') }}</th>
                    <th>{{ _('Actual') }}</th>
                    <th>{{ _('Difference') }}</th>
                    <th>{{ _('Predicted') }}</th>
                    <th>{{ _('Actual') }}</th>
                    <th>{{ _('Difference') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in predictions %}
                <tr>
                    {% set pred = row['prediction'] %}
                    {% set actual = row['actual'] %}

                    <td>{{pred.date}}</td>
                    <td>{{pred.visitors|round()|int}}</td>

                    {% if actual is not none %}
                        <td>{{actual.visitors|round()|int}}</td>
                        <td>{{pred.visitors|round()|int - actual.visitors|round()|int}}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}

                    <td>{{pred.visitors_class | visitors_class_to_label}}</td>
                    {% if actual is not none %}
                        {% set class_diff = pred.visitors_class - actual.visitors_class %}
                        <td>{{actual.visitors_class | visitors_class_to_label}}</td>
                        <td class="prediction_class_diff_{{class_diff|abs}}">{{class_diff}}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}
