{% extends "layout.html" %}
{% block title %}
    <title>{{ _("ZooPredict!") }}</title>
{% endblock title %}

{% block body %}
    <h1>{{ _("Predicted visitor numbers for Helsinki Zoo") }}</h1>

    {% if error %}
        <div class="errors">
            <p class="error">{{ _(error) }}</p>
        </div>
    {% endif %}

    <table id="predictions" class="predictions">
        <tr>
            <td>{{ _('Date') }}</td>
            <td>{{ _('Predicted visitors') }}</td>
            <td>{{ _('Predicted visitor class') }}</td>
        </tr>
        {% for prediction in predictions %}
            <tr>
                <td>{{prediction.date}}</td>
                <td>{{prediction.visitors|round(0)|int}}</td>
                <td>{{prediction.visitors_class}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock body %}
